* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}
body img {
  width: 2vw;
  height: 3vh;
}
body .sidebar {
  padding-top: 1rem;
  background-color: #1b494b;
  grid-row: 1/6;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 1fr 2.2fr 3fr;
  align-items: start;
  justify-items: start;
}
body .sidebar img {
  filter: invert(1);
}
body .sidebar .logo {
  font-size: 2vw;
}
body .sidebar .logo img {
  width: 5vw;
  height: 7vh;
}
body .sidebar .sidebar-text {
  font-size: 1.2vw;
  margin-bottom: 1rem;
  gap: 1rem;
}
body .sidebar .pages, body .sidebar .settings {
  margin-left: 1.7rem;
}
body .header {
  height: 20vh;
  z-index: 1;
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
body .header .upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
body .header .upper .left {
  gap: 1vw;
}
body .header .upper #search {
  width: 35vw;
  height: 3vh;
  border-radius: 30px;
}
body .header .upper .right {
  margin-right: 1rem;
  gap: 1rem;
  justify-self: end;
}
body .header .upper .right .avatar {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
}
body .header .upper .right div {
  font-size: 1.1vw;
  font-weight: 700;
}
body .header .lower {
  align-self: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
body .header .lower .left {
  gap: 1rem;
}
body .header .lower .left .avatar {
  width: 4.3vw;
  height: auto;
  border-radius: 100%;
}
body .header .lower .left .small {
  font-size: 1vw;
  font-weight: 700;
}
body .header .lower .left .big {
  font-size: 1.5vw;
  font-weight: 700;
}
body .header .lower .right {
  gap: 1rem;
  justify-self: end;
}
body .header .lower .right .btn {
  background-color: #1b494b;
  font-size: 1vw;
  color: white;
  width: 6vw;
  height: 4vh;
}
body .header .lower .right .btn:hover {
  border: 2px solid #1b494b;
  background-color: white;
  color: #1b494b;
}
body .main-content {
  background-color: #c9d9c2;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 3fr 3fr 2fr;
  place-items: center;
}
body .main-content .projects,
body .main-content .announcements,
body .main-content .trending {
  margin-top: 15px;
}
body .main-content .projects {
  grid-column: 1/3;
  grid-row: 1/3;
  display: grid;
  place-items: center;
  justify-self: stretch;
  row-gap: 20px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-left: 20px;
  position: relative;
}
@media screen and (max-width: 1352px) {
  body .main-content .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
body .main-content .projects .name {
  position: absolute;
  left: 2vw;
  top: -6vh;
  font-size: 1.5vw;
  font-weight: 700;
}
body .main-content .projects .card-body {
  background: linear-gradient(to right, rgb(188, 255, 101) 0%, rgb(188, 255, 101) 2%, white 2%, white 100%);
  border-radius: 10px;
  display: grid;
  grid: 3fr 1fr/1fr 1fr;
  padding: 30px;
}
body .main-content .projects .card-body .card-content {
  grid-column: 1/3;
}
body .main-content .projects .card-body .card-content .title {
  font-size: 1vw;
  font-weight: 700;
}
body .main-content .projects .card-body .card-content .text {
  font-size: 0.8vw;
  color: rgba(0, 0, 0, 0.519);
}
body .main-content .projects .card-body .card-icons {
  gap: 15px;
  grid-column: 2/3;
  place-self: end;
}
body .main-content .announcements,
body .main-content .trending {
  align-self: start;
}
body .main-content .announcements .name,
body .main-content .trending .name {
  font-size: 1.1vw;
  font-weight: 700;
  margin-bottom: 10px;
}
body .main-content .announcements .card-body,
body .main-content .trending .card-body {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  width: 16vw;
  height: 34vh;
}
body .main-content .announcements {
  margin-top: 25px;
}
body .main-content .announcements .card-body {
  display: grid;
  place-items: center;
}
body .main-content .announcements .card-body .cards {
  border-radius: 10px;
  background-color: #fff;
  width: 10vw;
  height: 28vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
body .main-content .announcements .card-body .cards .titles {
  font-size: 1vw;
  font-weight: 900;
}
body .main-content .announcements .card-body .cards .text {
  font-size: 0.7vw;
  color: rgb(129, 129, 129);
}
body .main-content .announcements .card-body .cards .card1,
body .main-content .announcements .card-body .cards .card2 {
  border-bottom: 1px solid rgba(194, 194, 194, 0.618);
}
body .main-content .announcements .card-body .cards .card1 .text,
body .main-content .announcements .card-body .cards .card2 .text {
  margin-bottom: 10px;
}
body .main-content .announcements .card-body .cards .card2,
body .main-content .announcements .card-body .cards .card3 {
  margin-top: 15px;
}
body .main-content .trending .card-body {
  height: 32vh;
}/*# sourceMappingURL=main.css.map */